/* common shared styles  */

body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  background-color: orangered;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 0px;
  padding: 15px 35px;
}
/* nav related styles starts */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav span {
  color: orangered;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}
nav ul li a {
  text-decoration: none;
  color: #474747;
}
/* nav related styles ends  */

/* header  related style starts  */
.header {
  background-color: #fff8f3;
}

/* banner starts   */

.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}

.banner .profile-picture {
  width: 500px;
}
/* banner ends */
/* header  related style ends  */
